@import "../../common/const.scss";

.root {
  width: 100vw;
  height: 100vh;
  padding: 22vh 0.5rem 20vh;
  position: relative;
  perspective: 500px;
  overflow: hidden;

  .title > h1 {
    line-height: 1.7;
    color: #f8ecee;
  }

  .subtitle {
    margin-top: 1.5rem;
    color: #565764;
    font-size: 1.2rem;
  }

  .action {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 0 0.5rem;
    }
  }

  .background {
    position: absolute;
    bottom: 0;
    left: -25vw;
    right: -25vw;
    /* setting 3d environment */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }

  @media screen and (max-width: map-get($grid-breakpoints, sm )) {
    .title > h1 {
      font-size: 2rem;
    }
  }
}
