
@import "../../common/const.scss";

.root {
  background-color: #FFF;
  padding: 6rem 0 9rem;

  .title {
    margin-bottom: 3rem;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      cursor: pointer;
      color: #888;
      width: 72px;
      height: 72px;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 36px;
        height: 36px;
      }

      &:hover {
        color: $primary-color;
        background-color: rgba($color:$primary-color, $alpha: .1);
      }
    }
  }
}
