@import "../const.scss";

$button-radius: 4px;

@mixin foregroundColor($color: rgba(#000, 0.15)) {
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color;
  }
}

.root {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: $button-radius;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  white-space: nowrap;

  margin: 0;
  outline: 0;
  user-select: none;
  -moz-appearance: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  .label {
    z-index: 1;
  }

  &.contained {
    color: rgba(0, 0, 0, 0.87);
    border: 0;
    background-color: #e0e0e0;
  }

  &.outlined {
    border: 2px solid rgba(0, 0, 0, 0.23);
    background-color: transparent;
  }

  &.full {
    width: 100%;
  }

  &.size-small {
    min-width: 3rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    padding: 0 0.75rem;

    &.outlined {
      border-width: 1px;
    }
  }

  &.size-large {
    min-width: 4.75rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    padding: 0 1.5rem;
    font-weight: bold;

    &.outlined {
      border-width: 3px;
    }
  }

  &.color-primary {
    &.contained {
      color: #000;
      background-color: $primary-color;
    }
    &.outlined {
      color: $primary-color;
      border-color: rgba($primary-color, 0.75);
    }
  }

  &.color-secondary {
    &.contained {
      color: #000;
      background-color: $secondary-color;
    }
    &.outlined {
      color: $secondary-color;
      border-color: rgba($secondary-color, 0.75);
    }
  }

  &::before {
    position: absolute;
    content: "";
    // border-radius: $button-radius;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }



  &:hover {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.contained {
      @include foregroundColor;
      
      &.click {
        @include foregroundColor(rgba(#000, 0.6));
      }
    }

    &.color-primary {
      &.outlined {
        @include foregroundColor(rgba($primary-color, 0.06));
        border-color: $primary-color;

        &.click {
          color: #FFF;
          @include foregroundColor(rgba($primary-color, 1));
        }
      }
    }

    &.color-secondary {
      &.outlined {
        @include foregroundColor(rgba($secondary-color, 0.06));
        border-color: $secondary-color;

        &.click {
          color: #FFF;
          @include foregroundColor(rgba($secondary-color, 1));
        }
      }
    }
  }

  // &.disabled {
  //   color: rgba(0, 0, 0, 0.26) !important;
  //   cursor: default;
  //   pointer-events: none;

  //   &.outlined {
  //     border: 1px solid rgba(0, 0, 0, 0.12) !important;
  //   }
  // }
}

.base {
  color: rgba(0, 0, 0, 0.87);
  // border: 0;
  min-width: 4rem;
  height: 2.25rem;
  line-height: 2.25rem;
  font-size: 0.875rem;
  padding: 0 1rem;
  // background-color: transparent;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}
