@import "../const.scss";

.heading {
  color: $text-color;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1.heading {
  font-size: 6rem;
}

h2.heading {
  font-size: 4.8rem;
}

h3.heading {
  font-size: 4rem;
}
h4.heading {
  font-size: 2.4rem;
}

.content {
  font-size: 1.8rem;
  color: $text-color-secondary;
}

@media screen and (max-width: map-get($grid-breakpoints, sm )) {

    h1.heading {
      font-size: 4rem;
    }

    h2.heading {
      font-size: 3.5rem;
    }

    h3.heading {
      font-size: 3rem;
    }
    h4.heading {
      font-size: 2.2rem;
    }
}
