@import "../const.scss";

$menu-height: 6rem;
$menu-padding: 3rem;

.root {
  width: 100%;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);

    .menu-item {
      color: $text-color-secondary;
      position: relative;
      height: $menu-height;
      font-size: 2rem;
      line-height: $menu-height;
      padding: 0 $menu-padding;
      cursor: pointer;
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: color 240ms cubic-bezier(0.4, 0, 0.2, 1);

      .menu-arrow {
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.6rem;
        transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);

        > svg {
          width: 1.8rem;
          height: 1.8rem;
        }
      }

      &:hover {
        color: #fff;

        .menu-arrow {
          transform: rotateX(180deg);
        }

        .menu-children {
          display: block;
        }
      }

      .menu-children {
        animation: fade-up 240ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
        position: absolute;
        top: $menu-height;
        left: $menu-padding;
        background-color: rgb(24, 27, 38);
        border-radius: 2px;

        .menu-children-item {
          text-align: left;
          color: $text-color-secondary;
          font-size: 1.8rem;
          min-width: 120px;
          padding: 1rem 2rem;
          line-height: 1.5;

          &:hover {
            color: $secondary-color;
            background-color: rgba($secondary-color, $alpha: 0.15);
          }
        }
      }

      &__active {
        color: #fff;
      }
    }
  }
}

.mobile {
  position: absolute;
  top: 0;
  left: -128px;

  .menu {
    position: relative;
    z-index: 1;
    animation: fade-up 240ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
    position: absolute;
    top: $menu-height;
    left: $menu-padding;
    background-color: rgb(24, 27, 38);
    border-radius: 2px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);

    .menu-item {
      text-align: left;
      cursor: pointer;
      color: $text-color-secondary;
      font-size: 1.8rem;
      min-width: 140px;
      padding: 1rem 2rem;
      line-height: 1.5;

      &__active {
        color: $secondary-color;
        background-color: rgba($secondary-color, $alpha: 0.15);
      }
    }
  }

  &.show {
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .menu {
      display: block;
    }
  }
}

@keyframes fade-up {
  from {
    opacity: 0.4;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
