$primary-color: #E7486A;
$secondary-color: #FAE247;

$background-color: #F7FAFC;

$text-color: #121727;
$text-color-secondary: #8C8E92;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1620px,
);

@mixin border-solid($width: 2px, $color: $primary-color) {
  border: solid $width $color;
}

@mixin title-margin {
  margin: 0 0 6rem;
}

@mixin block-padding {
  padding: 12rem 0;
}