@import "../../common/const.scss";

.root {
  width: 100vw;
  height: 100vh;
  padding: 23vh 0.8rem 20vh;
  background-color: #000000;
  position: relative;
  perspective: 500px;
  overflow: hidden;

  .title > h1 {
    color: #f8ecee;
    line-height: 1.4;
    font-weight: 300;
  }

  .subtitle {
    color: rgba(63,65,77);
    font-size: 2.6rem;
    margin-top: 4rem;
  }

  .action {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 0 1rem;
    }
  }

  .background {
    position: absolute;
    bottom: 0;
    left: -50vw;
    right: -50vw;
    /* setting 3d environment */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }

}
