@import "../../common/const.scss";

.root {
  background-color: #fff;
  color: unset;
  width: 100%;
  cursor: pointer;
  @include block-padding;

  .title {
    @include title-margin;
  }

  .content {
    .grid {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: repeat(12, 1fr);

      @media screen and (max-width: map-get($grid-breakpoints, xl )) {
        grid-template-columns: repeat(6, 1fr);
      }
      @media screen and (max-width: map-get($grid-breakpoints, md )) {
        grid-template-columns: repeat(3, 1fr);
      }

      .grid-item {
        grid-column-end: span 3;
      }
    }
  }

  .card {
    width: 100%;
    padding: 4rem;
    border-radius: 10px;
    background-color: #f7fafc;
    // background-image: linear-gradient(#1b1e2c, #101321);
    text-align: left;
    max-width: 480px;
    margin: 0 auto;

    .icon {
      padding: 1.2rem 0;
      margin-bottom: 2rem;

      > svg {
        width: 7rem;
        height: 7rem;
        color: #48537a;
      }
    }

    .title {
      font-weight: bolder;
      margin-bottom: 1.5rem;
    }

    .desc {
      line-height: 1.5;
      height: 16.2rem;

      @media screen and (max-width: map-get($grid-breakpoints, md )) {
        height: 11.8rem;
      }
    }
  }
}
