
@import "../../common/const.scss";

.root {
  background-color: #FFF;
  @include block-padding;
  padding-bottom: 16rem;

  .title {
    @include title-margin;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      cursor: pointer;
      color: #888;
      width: 8rem;
      height: 8rem;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 4.2rem;
        height: 4.2rem;
      }

      &:hover {
        color: $primary-color;
        background-color: rgba($color:$primary-color, $alpha: .1);
      }
    }
  }
}
