@import "../../common/const.scss";

.root {
  background-color: $background-color;
  @include block-padding;


  .title {
    @include title-margin;
  }


  .action {
    margin-top: 8rem;
    text-align: center;
  }
}
