@import "../../common/const.scss";

.root {
  background-color: #FFF;
  color: unset;
  @include block-padding;

  .title {
    @include title-margin;
  }

  .content {
    .grid {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(12, 1fr);

      @media screen and (max-width: map-get($grid-breakpoints, xl )) {
        grid-template-columns: repeat(8, 1fr);
      }
      @media screen and (max-width: map-get($grid-breakpoints, md )) {
        grid-template-columns: repeat(4, 1fr);
      }

      .grid-item {
        grid-column-end: span 4;
      }
    }
  }

  .item {
    width: 100%;
    padding: 2rem;
    text-align: left;
    max-width: 480px;
    margin: 0 auto;
    cursor: pointer;

    .icon {
      margin-top: 1rem;
      margin-right:3rem;

      > img,
      > svg {
        width: 5.6rem;
        height: 5.6rem;
      }
    }

    .title {
      height: 6rem;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      margin: 0 0 1.5rem;
    }

    .desc {

      min-height: 7.5rem;
      p {
        margin: 0;
        line-height: 2.5rem;
      }
    }

  }
}
