html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 8.5px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}


* {
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  html{
    font-size: 8.2px;
  }
}
@media screen and (max-width: 576px) {
  html{
    font-size: 8px;
  }
} 
